<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :Пользователь %><br>
    <%= form.text_field :Пользователь %>
  </p>
  <p>
    <%= form.label :Комментарий %><br>
    <%= form.text_area :Комментарий %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>