<% content_for :title, "Результаты поиска" %>
<nav class="navbar navbar-light bg-light">
  <div class="left"> 
    <span class="navbar-brand", id="info">Новости астрономии</span>
  </div>
  <div class="right">  
      <%= form_for :q, url: search_path, method: 'get', local: true do |f| %>
        <%= text_field_tag(:q, params[:q], size: 30, placeholder:"Найти статью") %>
        <%= submit_tag("Поиск", class: "btn btn-secondary") %>
      <% end %>
  </div>
</nav>

<h4 class="center">Результаты поиска</h4><br>
<% if @articles.nil? || @articles.empty? %>
  <%# без полной перезагрузки страницы div-ы c alert-ами можно выводить с помощью js %>
  <div class="alert alert-warning hide" role="alert">
    <h5 class="center">Статей по вашему запросу не найдено :(</h5>
  </div>
<% else %>
<table class="table">
  <% @articles.each do |article| %>
  <tr>
    <td>
      <div class="img-thumbnail">
        <% if article.images.first.nil? %>
        <% else %>
          <%= image_tag(article.images.first.file.url, width: '250') %>
        <% end %>
      </div>
    </td>
    <td><h4 class="mt-3"><%= link_to article.title, article_path(article), id: "titles" %></h4>
      <div class="t-hidden" style="height: 255px;">
        <p class="text-sm"><%= article.text %></p>
      </div>
      <%= link_to 'Подробнее', article_path(article), class: "btn btn-light" %></td>
    <td>
      <% if admin_signed_in? %>
        <div class="center">
          <div class="btn-group-vertical">
            <%= link_to 'Редактировать', edit_article_path(article), class: "btn btn-light"%>
            <%= link_to 'Удалить', article_path(article), class: "btn btn-light",
                method: :delete,
                data: { confirm: 'Вы уверены?' } %>
          </div>
        </div>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
<div class="bottom">
  <%= link_to 'Назад', articles_path, class: "btn btn-secondary" %>
</div>