<% content_for :title, "Результаты поиска" %>
<h1>Результаты поиска</h1>
<div>
  <%= form_for :q, url: search_path, method: 'get', local: true do |f| %>
    <%= label_tag(:q, "Найти статью:") %>
    <%= text_field_tag(:q, params[:q], size: 35) %>
    <%= submit_tag("Поиск") %>
  <% end %>
</div>
<% if @articles.empty? %>
  <h4>Статей по вашему запросу не найдено</h4>
<% else %>
 <table class="table">
  <% @articles.each do |article| %>
    <tr>
      <td><h4><%= link_to article.title, article_path(article) %></h4><br>
        <%= article.text %><br>
        <%= link_to 'Подробнее', article_path(article), class: "btn btn-light" %></td>
      <td><%= link_to 'Редактировать', edit_article_path(article), class: "btn btn-light"%></td>
      <td><%= link_to 'Удалить', article_path(article), class: "btn btn-light",
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>
<% end %>
<%= link_to 'Назад', articles_path, class: "btn btn-secondary" %>