<% content_for :title, "Поиск" %>
<h1>Поиск</h1>
<div>
  <%= form_with url: search_path, method: 'get', local: true do |f| %>
    <%= f.label "Найти статью:" %>
    <%= text_field_tag (params[:q]) %>
    <%= submit_tag "Поиск" %>
  <% end %>
</div>
<% if @articles.nil? %>
  <h2>Статей по вашему запросу не найдено</h2>
<% else %>
<h2>Результаты поиска</h2>
  <table>
    <thead>
      <tr>
        <th>Заголовок</th>
        <th>Текст</th>
      </tr>
    </thead>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Подробнее', article_path(article) %></td>
        <td><%= link_to 'Редактировать', edit_article_path(article) %></td>
        <td><%= link_to 'Удалить', article_path(article),
                method: :delete,
                data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to 'Назад', articles_path %>