<div class="modal-header">
  <h3 class="modal-title" id="myModalLabel">Редактировать статью</h3>
  <button type="button" class="close" data-dismiss="modal">Закрыть</button>
</div>
<%= render 'form' %>
<% @images.each do |image| %>
  <ul class="col-xs-3" id="<%= image.id %>">
    <%= image_tag(image.file.url, class: 'img-thumbnail') %>
    <%= link_to 'Удалить', [image.article, image], remote: true, class: "btn btn-light",
            method: :delete,
            data: { confirm: 'Вы уверены?' } %>
  </ul>
<% end %>
<%= link_to  "Посмотреть статью", article_path(@article), class: "btn btn-secondary", target: :blank %>
