<table class="table">
  <%# ограничение количества статей на странице, желательно без полной перезагрузки страницы %>
  
  <% @articles.each do |article| %>
  <tr>
    <td>
      <div class="img-thumbnail">
        <% if article.images.first.nil? %>
        <% else %>
          <%= image_tag(article.images.first.file.url, width: '250') %>
        <% end %>
      </div>
    </td>
    <td><h4 class="mt-3"><%= link_to article.title, article_path(article), id: "article-titles" %></h4>
      <div class="t-hidden" style="height: 255px;">
        <p class="text-sm"><%= article.text %></p>
      </div>
      <%= link_to 'Подробнее', article_path(article), class: "btn btn-light" %></td>
    <td>
      <% if admin_signed_in? %>
        <div class="center">
          <div class="btn-group-vertical">
            <%= link_to 'Редактировать', edit_article_path(article), class: "btn btn-light"%>
            <%#!! remote: true #>
            <%= link_to 'Удалить', article_path(article), class: "btn btn-light",
                method: :delete,
                data: { confirm: 'Вы уверены?' } %>
          </div>
        </div>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>