<% content_for :title, "Редактировать новость" %>
<h2>Редактировать новость</h2>

<%= form_with model: @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h4>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Заголовок %><br>
    <%= f.text_field :title, size: 100 %>
  </p>
 <p>
    <%= f.label :Текст %><br>
    <%= f.text_area :text, size: "130x20" %><br>
    <%= f.submit "Сохранить статью", class: "btn btn-secondary" %>
  </p>
<% end %>
<p>
  <%= render @article.images %>
</p>

<%= form_with model: [@article, @article.images.build] do |f| %>
  <%= f.file_field :file%><br>
  <%= f.submit 'Прикрепить изображение', class: "btn btn-secondary" %>
<% end %>

<div class="bottom">
  <%= link_to 'Назад', articles_path, class: "btn btn-secondary" %>
</div>