<h1>Все новости</h1>

<%= link_to 'Добавить статью', new_article_path %>
<table>
  <tr>
    <th>Заголовок</th>
    <th>Текст</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Подробнее', article_path(article) %></td>
      <td><%= link_to 'Редактировать', edit_article_path(article) %></td>
      <td><%= link_to 'Удалить', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
