<h1>Новости астрономии</h1>
<div class="search">
  <%= form_with model: @article, local: true do |f| %>
    <%= label_tag(:q, "Найти статью:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Поиск") %>
  <% end %>
</div>
<%= link_to 'Добавить статью', new_article_path %>
<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Текст</th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Подробнее', article_path(article) %></td>
      <td><%= link_to 'Редактировать', edit_article_path(article) %></td>
      <td><%= link_to 'Удалить', article_path(article),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>
