<% content_for :title, "Главная" %>
<nav class="navbar navbar-light bg-light">
  <div class="left"> 
    <span class="navbar-brand", id="info">Новости астрономии</span>
  </div>
  <div class="right">  
    <%#!! remote: true %>
    <div id="search-article">
      <%= form_for :q, url: search_path, remote: true, method: 'get' do |f| %>
        <%= text_field_tag(:q, params[:q], size: 30, placeholder:"Найти статью") %>
        <%= submit_tag("Поиск", class: "btn btn-secondary") %>
      <% end %>
    </div>
  </div>
</nav>

<% if admin_signed_in? %>
  <span class="right"><%= link_to 'Добавить статью', new_article_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#new-article', class: 'btn btn-secondary'} %></span>
<% end %>


<div class="modal fade" id="new-article" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div id="article-list">
  <%= render 'list' %>
</div>

<script type="text/javascript">
  $(function () {
    $('.pagination a').attr('data-remote', 'true')
  })
</script>