<h1>Новая статья</h1>

<%= render 'form' %>
<%= form_with model: [@article, @article.images], local: true do |f| %>
  <p>
    <%= f.file_field :file %>
    <%= f.submit 'Прикрепить изображение' %>
  </p>
<% end %>
<%= link_to 'Назад', articles_path %>
