<h1>Новая статья</h1>
<%= form_with model: @image, local: true do |i| %>
  <%= i.hidden_field :article_id, :value => @article.id %>
  <%= i.file_field :file %>
  <%= i.submit 'Add img' %>
<% end %>
<%= render 'form' %>

<%= link_to 'Назад', articles_path %>
