<h1><%= @article.title %></h1>

<article>
  <%= render @article.images %>
  <%= @article.text %>
</article>

<%= link_to 'Редактировать', edit_article_path(@article) %>
<%= link_to 'Назад', articles_path %>
