
<h1><%= @article.title %></h1>

<article>
<% @images.each do |p| %>
  <%= image_tag(p.file.url, height: '300') %>
<% end %><br>
  <%= @article.text %>
</article>

<%= link_to 'Редактировать', edit_article_path(@article) %>
<%= link_to 'Назад', articles_path %>
