<h1><%= @article.title %></h1>

<article>
  <%= image_tag @article.image.url %> <br/>
  <%= @article.text %>
</article>

<%= link_to 'Редактировать', edit_article_path(@article) %>
<%= link_to 'Назад', articles_path %>
