<h1>Новости астрономии и космонавтики</h1>

<div class="right">
  <% if admin_signed_in? %>
    <span class="hi">Здравствуйте, <%= current_admin.email %></span>
    <%= link_to 'Выйти', destroy_admin_session_path, :method => :delete, class: "btn btn-light" %>
  <% else %>
    <%= link_to 'Войти', new_admin_session_path, class: "btn btn-light" %><span class="hi">или</span><%= link_to 'Зарегистрироваться', new_admin_registration_path, class: "btn btn-light" %>
  <% end %>
</div>
<br>
<%= link_to 'Перейти к управлению новостями', controller: 'articles' %>